.box{
	min-height: 100px;
	background-color: red;
	margin-top: 10px ;
}
.box1{
	min-height: 100px;
	background-color: orange;
	margin-top: 10px ;
}
.box2{
	min-height: 100px;
	background-color: gray;
	margin-top: 10px ;
}
.box3{
	min-height: 100px;
/*	background-color: gray;*/
	margin-top: 10px ;
	border: 1px solid black;
}
.example-row{
	min-height: 100px;
	background-color: orange;
	margin-top: 10px ;
}
.mn{
	min-height: 300px;
	background-color: pink;
	border: 1px solid green;
	/*margin-top: 10px;*/
}
.box4{
	min-height: 100px;
	margin-top: 10px ;
	border: 1px green solid;
}
.p-3 {
	border: 1px green solid;
}
.box5 {
	border: 1px green solid;
	margin-top: 10px ;
}